.venv/
venv/
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.egg-info/

# Databases & Caches
*.sqlite
*.db
*.db-shm
*.db-wal
*.db-journal
*.cache

# Secrets & Logs
.env
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
